@using DruckEmployeeMvc.ViewModel
@model EmployeeDto
@{
}




<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Employee</h2>


        <form method="post" enctype="multipart/form-data">

        </form>

    </div>
</div>
