@using DruckEmployeeMvc.ViewModel
@model EmployeeDto
@{
}




<div class="row formShadow">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Employee</h2>


        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["Id"]"  />

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Position</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Position" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Department</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Department">
                        <option value=""></option>
                        <option value="HR">HR</option>
                        <option value="Finance">Finance</option>
                        <option value="Marketing and Sales">Marketing and Sales</option>
                        <option value="Research and Development">Research and Development</option>
                        <option value="IT Administration">IT Administration</option>                        
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="Index" role="button">Cancel</a>
                </div>
            </div>


        </form>

    </div>
</div>