@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/wirmachendruck.ico" style="width:250px; height:250px;" />
    </a>
    <h1 class="display-4">Welcome Druck Crud Operation</h1>
    <p style="color:orchid; font-weight:600;">Probe Task for the .net Developer Position</a>.</p>
</div>
